# Django Settings
DEBUG=True
TIME_ZONE='UTC'
# Database Settings
DB_NAME='hrmsdb'
DB_USER='postgres'
DB_PASSWORD=1234rtyu
DB_PORT='5432'
DB_HOST='localhost'

REDIS_HOST='localhost'
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD='1234rtyu'